/* .tt{
    border: 1px solid violet;
} */

.nav{
    background-color: #43425D;
    height: 100vh;
}
.nav-link{
    color: white;
}
/* .thCard{
    border-radius: 100%;
    height: 100px;
    width: 100px;
    align-items: center;

} */